name: Publish icons-svg package to NPM

on:
  push:
    tags:
      - 'v*'
    paths-ignore:
      - 'README.md'

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          scope: '@d-matrix'

      - name: Change directory
        run: cd packages/icons-svg

      - name: Install dependencies
        run: npm install

      - name: Publish
        run: npm run publish:icons-svg --workspace-root
        env:
          NPM_AUTHTOKEN: ${{ secrets.NPM_AUTHTOKEN }}
