name: 发布npm package

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          scope: '@d-matrix'
      - name: Check folders and files
        run: pwd
      - run: ls
      - run: cat .npmrc

      - name: Change directory
        run: cd packages/icons-react

      - name: Publish
        run: npm publish
        env:
          NPM_AUTHTOKEN: ${{ secrets.NPM_AUTHTOKEN }}