name: 发布npm package

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          scope: '@d-matrix'
      - name: Publish
        run: pwd
      - run: ls
      - run: cat .npmrc
      - run: echo ${{ secrets.NPM_AUTHTOKEN }}
      - run: npm ci
      - run: npm run publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTHTOKEN }}